<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h1>Welcome to jQuery UI!</h1>

        <div class="ui-widget"></div>
        <h2 class="demoHeaders" dir-one>Dialog</h2>
        <p>
<!--
            <button id="dialog-link" class="ui-button ui-corner-all ui-widget" dir-one>
		<span class="ui-icon ui-icon-newwin"></span>Open Dialog</button>
-->
            <button id="dialog-link" class="ui-button ui-corner-all ui-widget" dir-one >
		<span class="ui-icon ui-icon-newwin"></span>Open Dialog</button>
        </p>

        <!-- ui-dialog -->
        <div id="dialog" title="Dialog Title">
            <p >gggLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <p><b>Psst!</b> - Try believing in people. </p>
    </ion-content>
</ion-view>
