<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h1>Welcome to jQuery UI!</h1>

        <div class="ui-widget"></div>
        <h2 class="demoHeaders" dir-one>Dialog</h2>
        <p>
            <button id="dialog-link" class="ui-button ui-corner-all ui-widget" dir-one>
		<span class="ui-icon ui-icon-newwin"></span>Open Dialog</button>
        </p>

        <!-- ui-dialog -->
        <div id="dialog" title="Dialog Title" >
            <p id="paragraph100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <script>
            console.log('hey');
            //            $("#btn1").click(function(){
            //        $("#test1").text("Hello world!");
            //    });

        </script>

        <!--
        <script>
            console.log("hey!");
            var myElement = angular.element( document.querySelector('#paragraph100') );
            console.log('myElement', myElement);
//          angular.element('#paragraph100').onclick(console.log('hey clicked thingy'););
            $("#dialog").dialog({  
                autoOpen: false,
                width: 400,
                buttons: [{
                        text: "Ok",
                        click: function() {
                            $(this).dialog("close");
                        }
                    },
                    {
                        text: "Cancel",
                        click: function() {
                            $(this).dialog("close");
                        }
                    }
                ]
            });

            // Link to open the dialog
            $("#dialog-link").click(function(event) {
                $("#dialog").dialog("open");
                event.preventDefault();
            });


            // Hover states on the static widgets
            $("#dialog-link, #icons li").hover(
                function() {
                    $(this).addClass("ui-state-hover");
                },
                function() {
                    $(this).removeClass("ui-state-hover");
                }
            );
        </script>
-->
        <p><b>Psst!</b> - Try <a href="http://view.ionic.io/">Ionic View</a> to easily share and test your app with clients and co-workers.
        </p>
    </ion-content>
</ion-view>
